<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<property resource="application.yml"></property>

	<!-- 控制台 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %logger{36} %line: %msg %n</Pattern>
			<!-- 输出格式 --><!-- 解决中文乱码问题 -->
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 记录到文件 (每天一个文件) -->
	<appender name="applicationFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logback-application-path}application.log</File>
		<!-- 最新的log文件名 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logback-application-path}application%d{yyyy-MM-dd}.log</FileNamePattern>  <!-- 历史文件名 -->
			<maxHistory>${logback-max-history}</maxHistory> <!-- 保留 30 天的日志 -->
		</rollingPolicy>
		<encoder>
			<Pattern>%msg %n</Pattern>
			<charset>UTF-8</charset>  <!--解决中文乱码问题-->
		</encoder>
	</appender>

	<!-- 性能日志记录到文件 (每天一个文件) -->
	<appender name="performanceFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logback-performance-path}performance.log</File>
		<!-- 最新的log文件名 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logback-performance-path}performance%d{yyyy-MM-dd}.log</FileNamePattern>  <!-- 历史文件名 -->
			<maxHistory>${logback-max-history}</maxHistory> <!-- 保留 30 天的日志 -->
		</rollingPolicy>
		<encoder>
			<Pattern>%msg %n</Pattern>
			<charset>UTF-8</charset>  <!--解决中文乱码问题-->
		</encoder>
	</appender>

	<appender name="logStash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<!-- 配置logstash的ip和端口 -->
		<destination>${logback-logstash-tcp}</destination>
		<encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<message/>
			</providers>
		</encoder>
		<!-- 如果事件频繁的输出，在服务器闲置超时的情况下，链接一般会断掉。通过配置来保持链接处于激活 -->
		<connectionStrategy>
			<roundRobin>
				<connectionTTL>5 minutes</connectionTTL>
			</roundRobin>
		</connectionStrategy>
	</appender>

	<!-- 将appender 关联到我们的项目 -->
	<logger name="application" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="applicationFileAppender"/>
		<appender-ref ref="logStash"/>
	</logger>
	<logger name="performance" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="performanceFileAppender"/>
		<appender-ref ref="logStash"/>
	</logger>

	<springProfile name="dev">
		<logger name="application" level="DEBUG" />
		<logger name="performance" level="DEBUG" />
	</springProfile>
	<springProfile name="prod">
		<logger name="application" level="INFO" />
		<logger name="performance" level="INFO" />
	</springProfile>

</configuration>
