<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<!-- 控制台 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %logger{36} %line: %msg %n</Pattern>
			<!-- 输出格式 --><!-- 解决中文乱码问题 -->
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 记录到文件 (每天一个文件) -->
	<appender name="applicationFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>applicationLog/application.log</File>
		<!-- 最新的log文件名 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>applicationLog/application%d{yyyy-MM-dd}.log</FileNamePattern>  <!-- 历史文件名 -->
			<maxHistory>30</maxHistory> <!-- 保留 30 天的日志 -->
		</rollingPolicy>
		<encoder>
			<Pattern>%msg %n</Pattern>
			<charset>UTF-8</charset>  <!--解决中文乱码问题-->
		</encoder>
	</appender>

	<!-- 性能日志记录到文件 (每天一个文件) -->
	<appender name="performanceFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>performanceLog/performance.log</File>
		<!-- 最新的log文件名 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>performanceLog/performance%d{yyyy-MM-dd}.log</FileNamePattern>  <!-- 历史文件名 -->
			<maxHistory>30</maxHistory> <!-- 保留 30 天的日志 -->
		</rollingPolicy>
		<encoder>
			<Pattern>%msg %n</Pattern>
			<charset>UTF-8</charset>  <!--解决中文乱码问题-->
		</encoder>
	</appender>

	<!-- 将appender 关联到我们的项目 -->
	<logger name="application" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="applicationFileAppender"/>
	</logger>
	<logger name="performance" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="performanceFileAppender"/>
	</logger>

	<springProfile name="dev">
		<logger name="application" level="DEBUG" />
		<logger name="performance" level="DEBUG" />
	</springProfile>
	<springProfile name="prod">
		<logger name="application" level="DEBUG" />
		<logger name="performance" level="DEBUG" />
	</springProfile>

</configuration>
